<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans SYSTEM "beans.dtd">
<beans>

    <properties>
        <resource location="app.properties" />
    </properties>

    <context>
        <component-scan base-package="cn.gin.webmvc.demo.web.controller" />
    </context>

    <bean name="jdbcTemplate" class="cn.gin.webmvc.demo.common.jdbc.JDBCTemplate"></bean>

    <bean name="userDao" class="cn.gin.webmvc.demo.dao.impl.UserDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean name="userService" class="cn.gin.webmvc.demo.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao" />
    </bean>

    <bean name="userController" class="cn.gin.webmvc.demo.web.controller.UserController" annotation="true">
        <property name="userService" ref="userService" />
    </bean>
</beans>